<div class="home">
  <div class="home__users">
    <div class="home__users__user">
      <div class="home__users__user__head">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Peter_Gabriel_%283%29_%28cropped%29.jpg"
          alt="user"
        />
        <h4>Gabriel Metz</h4>
      </div>
      <div class="home__users__user__bottom">
        <Button class="btn">Add</Button>
        <Button class="btn secondary">Block</Button>
      </div>
    </div>
    <div class="home__users__user">
      <div class="home__users__user__head">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Peter_Gabriel_%283%29_%28cropped%29.jpg"
          alt="user"
        />
        <h4>Gabriel Metz</h4>
      </div>
      <div class="home__users__user__bottom">
        <Button class="btn">Add</Button>
        <Button class="btn secondary">Block</Button>
      </div>
    </div>
    <div class="home__users__user">
      <div class="home__users__user__head">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Peter_Gabriel_%283%29_%28cropped%29.jpg"
          alt="user"
        />
        <h4>Gabriel Metz</h4>
      </div>
      <div class="home__users__user__bottom">
        <Button class="btn">Add</Button>
        <Button class="btn secondary">Block</Button>
      </div>
    </div>
    <div class="home__users__user">
      <div class="home__users__user__head">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Peter_Gabriel_%283%29_%28cropped%29.jpg"
          alt="user"
        />
        <h4>Gabriel Metz</h4>
      </div>
      <div class="home__users__user__bottom">
        <Button class="btn">Add</Button>
        <Button class="btn secondary">Block</Button>
      </div>
    </div>
    <div class="home__users__user">
      <div class="home__users__user__head">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Peter_Gabriel_%283%29_%28cropped%29.jpg"
          alt="user"
        />
        <h4>Gabriel Metz</h4>
      </div>
      <div class="home__users__user__bottom">
        <Button class="btn">Add</Button>
        <Button class="btn secondary">Block</Button>
      </div>
    </div>
  </div>
</div>
