<div class="sidebar">
  <div class="sidebar__head">
    <img
      src="https://cdn.pixabay.com/photo/2021/06/11/12/26/woman-6328478_960_720.jpg"
      alt="img"
    />
    <h2>Sophie Green</h2>
  </div>
  <div class="sidebar__menu">
    <ul class="sidebar__menu__list">
      <li class="sidebar__menu__list__item">
        <a>Home</a>
      </li>
      <li class="sidebar__menu__list__item">
        <a>News</a>
      </li>
      <li class="sidebar__menu__list__item">
        <a>Friends</a>
      </li>
      <li class="sidebar__menu__list__item">
        <a>Setting</a>
      </li>
    </ul>
  </div>
  <div class="sidebar__bottom">
    <Button>Create.</Button>
  </div>
</div>
