.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 15vw;
  background-color: white;
  overflow: hidden;
  padding: 1.5rem 0 2rem 1rem;
  transition: visibility 100ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &__head {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;

    & img {
      width: 5rem;
      height: 5rem;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      border-radius: 50%;
    }

    & h2 {
      cursor: pointer;
      transition: color 100ms ease-in;
      text-align: center;
      &:hover {
        color: #f48225;
      }
    }

    &::after {
      content: " ";
      background-color: rgb(221, 221, 221);
      width: 80%;
      height: 0.1rem;
      position: absolute;
      bottom: -1rem;
      border-radius: 30rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.2rem;
    padding-bottom: 2rem;
    margin-top: 1.8rem;
    width: 100%;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      align-self: center;

      &__item {
        list-style: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background 150ms ease-out;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        margin-right: 0.2rem;

        &:hover {
          background-color: #f48225;
          color: white;
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    & button {
      background-color: #f48225;
      color: white;
      padding: 0.3rem 2rem;
      cursor: pointer;
      border-radius: 0.3rem;
      border: 2px solid #f48225;
      font-size: 1.1rem;

      &:hover {
        background-color: white;
        color: #f48225;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    visibility: hidden;
  }
}
