<div class="container">
  <div class="login">
    <div class="login__header">
      <h2>Login:</h2>
    </div>
    <div *ngIf="statusCode && statusCode === 401" class="error">
      <p>Please verify your Infos.</p>
    </div>
    <div class="login__body">
      <form
        #loginForm="ngForm"
        class="login__body__from"
        (submit)="login(loginForm)"
      >
        <div class="login__body__form__fields">
          <div class="login__body__form__fields__input">
            <input type="text" name="email" placeholder="E-mail" ngModel />
          </div>
          <div class="login__body__form__fields__input">
            <input
              type="password"
              name="password"
              placeholder="Password"
              ngModel
            />
          </div>
        </div>
        <div class="login__body__from__bottom">
          <Button class="btn">Login</Button>
          <a routerLink="/register">Don't have an account? register now!</a>
        </div>
      </form>
    </div>
  </div>
</div>
