<div class="container">
  <div class="register">
    <div class="register__header">
      <h2>Register:</h2>
    </div>
    <div *ngIf="statusCode" class="error">
      <p>Error</p>
    </div>
    <div class="register__body">
      <form
        #registerForm="ngForm"
        class="register__body__from"
        (submit)="register(registerForm)"
      >
        <div class="register__body__form__fields">
          <div class="register__body__form__fields__input">
            <input type="text" name="email" placeholder="E-mail" ngModel />
          </div>
          <div class="register__body__form__fields__input">
            <input type="text" name="name" placeholder="Name" ngModel />
          </div>
          <div class="register__body__form__fields__input">
            <input
              type="password"
              name="password"
              placeholder="Password"
              ngModel
            />
          </div>
          <div class="register__body__form__fields__input">
            <input
              type="password"
              name="password_confirmation"
              placeholder="Confirm Password"
              ngModel
            />
          </div>
        </div>
        <div class="register__body__from__bottom">
          <Button class="btn">Register</Button>
          <a routerLink="/login">Have an account? Log in now!</a>
        </div>
      </form>
    </div>
  </div>
</div>
