:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(160, 158, 158);

  .container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .register {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: white;
      border-radius: 0.2rem;
      padding: 1.2rem 2rem;
      min-width: 30rem;

      & h2 {
        color: #f48225;
      }

      & form {
        width: 100%;
      }

      &__body {
        display: flex;
        flex-direction: row;

        &__from {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          &__bottom {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            justify-content: center;

            & a {
              align-self: center;
            }

            & button {
              padding-top: 0.3rem;
              padding-bottom: 0.3rem;
              cursor: pointer;
              background-color: #f48225;
              border-radius: 0.2rem;
              border: none;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
              font-size: 1.1rem;
              font-weight: bold;
              border: 2px solid transparent;
              color: white;
              transition: all 250ms;

              &:hover {
                color: #f48225;
                background-color: white;
                border: 2px solid #f48225;
              }

              &:active {
                transform: translateY(-0.2rem);
              }
            }

            & a {
              color: #f48225;
              transition: transform 150ms ease-out;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
        &__form__fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 0.8rem;

          &__input {
            width: 100%;

            & input {
              padding: 0.6rem 0.5rem;
              min-width: 100%;
              border: 0.12rem solid lightgray;
              border-radius: 0.2rem;
              outline: none;
              font-weight: 600;

              &:focus {
                border: 2px solid #38a9f0;
                -webkit-box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
                -moz-box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
                box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
              }
            }
          }
        }
      }
    }
  }
}
