<div class="container">
  <div class="register">
    <div class="register__header">
      <h2>Register:</h2>
    </div>
    <div class="register__body">
      <form class="register__body__from">
        <div class="register__body__form__fields">
          <div class="register__body__form__fields__input">
            <input type="text" name="email" placeholder="E-mail" />
          </div>
          <div class="register__body__form__fields__input">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="register__body__form__fields__input">
            <input
              type="password"
              name="password_confirmation"
              placeholder="Password"
            />
          </div>
          <div class="register__body__form__fields__input">
            <input
              type="password"
              name="password"
              placeholder="Confirm Password"
            />
          </div>
        </div>
        <div class="register__body__from__bottom">
          <Button class="btn">Register</Button>
          <a routerLink="/login">Have an account? Log in now!</a>
        </div>
      </form>
    </div>
  </div>
</div>
